/* google fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

/* reset css */
html,
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
  min-width: 300px;
  color: #2b2b2b;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

/* main style*/
#main {
  background-color: #cae1ef;
  padding-bottom: 10px;
}

h1#title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -2px;
  padding: 1rem 0;
}

p#description {
  margin: 1rem 0;
}

#form-container {
  background: #f9f9f9;
  border-radius: 6px;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

form#survey-form {
  padding-top: 5px;
}

.survey-item {
  display: block;
  margin: 10px 0;
}

.survey-item ul {
  list-style: none;
  padding-left: 0;
}

.left-tab {
  display: inline-block;
  width: 45%;
  text-align: right;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 10px;
}

.right-tab {
  display: inline-block;
  width: 45%;
  text-align: left;
  vertical-align: middle;
}

.input-field {
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #dadada;
  background: white;
  font-size: .9rem;
}

.dropdown {
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #dadada;
  background: white;
  font-size: .9rem;
  color: #2b2b2b;
}

input[type="radio"],
input[type="checkbox"] {
  float: left;
  margin: 5px 5px 0 5px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

@media screen and (max-width: 833px) {

  .input-field,
  .dropdown {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {

  .input-field {
    width: 100%;
  }

  .left-tab,
  .right-tab,
  label {
    display: block;
    width: 100%;
    text-align: left;
  }
}