/* reset css */
html,
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  min-width: 300px;
  color: #2b2b2b;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

/* main style*/
#main {
  background: #e8e8e8;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

#tribute-info {
  text-align: left;
}

#img-caption {
  font-style: italic;
  margin: 1rem 0;
}

#img-div {
  padding: 20px 20px 1px 20px;
  max-width: 80%;
  margin: 0 auto;
  background: #efefef;
  box-shadow: 2px 2px 7px 0px #bbbbbba1;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: transparent;
  border: none;
  border-radius: 10px 0 10px 0;
  max-width: 100%;
  height: auto;
}

#tribute-info ul {
  max-width: 650px;
  margin: 0 auto;
}

#tribute-headline {
  margin-top: 1rem;
}

#tribute-info ul {
  max-width: 700px;
  margin: auto;
}

#tribute-info ul li {
  margin: 1rem;
  list-style-type: square;
}

#tribute-info blockquote {
  text-align: center;
  margin-top: 2rem;
}

#tribute-info blockquote p {
  font-style: italic;
}

#tribute-info blockquote h3 {
  font-size: 1.4rem;
}